tr, td, th {
	text-align: center;
	background-color: beige;
	 color: gray;
}

th {
	text-align: bottom; //doesnt do anything
}

table {
	width: 80%;
	background-color: tan;
	border: 7px solid gray;
	border-radius: 5px;
	margin: auto;
}
	

img {
	img:hover (opacity: 0.5); //doesn't work
}

body {
  background-color: tan;
  font-family: w3-serif;
  font-size: 18px;
  color: white;
}

h1 {
  color: gray;
  text-align: center;
  border: 5px solid gray;
  border-radius: 8px;
  background-color: beige;
  padding: 10px;
  margin-left: 6px;
  margin-right: 2px;
}

ul {
	padding: 20px;
	padding-left: 30px;
	background-color: gray;
	max-width: 100px;
	margin: auto;
	float: left;
	border: 2px solid black;
	margin-bottom: 40px;
	margin-left: 35px;
}

p {
	margin-left: 10px;
	margin-right: 5px;
	max-width: 1150px;
}
